/* @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap"); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 100px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section > p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* html,
body {
  height: 100%;
} */
/*
body {
  line-height: 1.15;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: "center";
} */

/* 
#root {
  height: 100%;
  display: flex;
} */
